/* PAGE WRAPPER */
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.signup-card {
  background: #020617;
  width: 400px;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* TITLE */
.signup-card h1 {
  margin-bottom: 25px;
  color: #e5e7eb;
}

/* INPUTS */
.signup-card input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 18px;
  border-radius: 25px;
  border: 1px solid #475569;
  background: transparent;
  color: #e5e7eb;
  outline: none;
}

.signup-card input::placeholder {
  color: #94a3b8;
}

/* BUTTON */
.signup-card button {
  width: 100%;
  margin-top: 10px;
}

/* MESSAGE */
.message {
  margin-top: 15px;
  color: #22c55e;
  font-size: 14px;
}
