.placement-page {
  min-height: 100vh;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placement-card {
  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 18px;
  padding: 40px;
  width: 650px;
  max-width: 95%;
  color: #e5e7eb;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.placement-card h1 {
  text-align: center;
}

/* QUESTIONS */
.question-box {
  margin-bottom: 25px;
}

.option {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.option input {
  margin-right: 8px;
}

/* SUBMIT BUTTON */
.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
  background: #e5e7eb;
  color: #020617;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  transform: translateY(-2px);
  background: #cbd5f5;
}

/* RESULT CARD */
.result-card {
  background: rgba(15, 23, 42, 0.9);
  border: 1px solid #1e293b;
  border-radius: 20px;
  padding: 40px;
  margin-top: 30px;
  text-align: center;
}

.animate-result {
  animation: popIn 0.9s ease forwards;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.result-card h2 span {
  color: #38bdf8;
  font-weight: 700;
}

.result-card h3 span {
  color: #22c55e;
  font-weight: 700;
}

/* =============================
   RESULT NAV BUTTONS
============================= */

.result-actions {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 30px;
}

.nav-btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

/* PRIMARY */
.nav-btn.primary {
  background: #2563eb;
  color: #ffffff;
}

.nav-btn.primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.45);
}

/* SECONDARY */
.nav-btn.secondary {
  background: #e5e7eb;
  color: #020617;
}

.nav-btn.secondary:hover {
  transform: translateY(-3px);
  background: #cbd5f5;
  box-shadow: 0 12px 30px rgba(203, 213, 245, 0.45);
}

/* OUTLINE */
.nav-btn.outline {
  background: transparent;
  color: #cbd5f5;
  border: 1px solid #475569;
}

.nav-btn.outline:hover {
  background: #1e293b;
  transform: translateY(-2px);
}
/* TIMER */
.timer {
  text-align: right;
  margin-bottom: 10px;
  color: #fbbf24;
  font-weight: 600;
  font-size: 14px;
}
